---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<BaseLayout title={title} description={description} image={heroImage}>
  <article>
    <h1 class="title text-3xl color-primary font-bold">{title}</h1>
    <FormattedDate date={pubDate} timeToRead={5} />
    <div class="m-auto md:w-[80%]">
      {
        heroImage && (
          <img class="my-8 w-full" height={360} src={heroImage} alt="" />
        )
      }
      <slot />
    </div>
  </article>
</BaseLayout>
